@import "~styles/variables.scss";

.body-content {
  height: calc(100% - 124px);
  width: calc(100% - 355px);
  margin: 124px 0 0 355px;

  .toolbar {
    height: 124px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;

    .close {
      cursor: pointer;
      position: absolute;
      top: 48px;
      right: 48px;
    }
  }
}
